* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section-wrapper .bollywood-slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}




.hero-section-wrapper .bollywood-slider .content {
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative; 
}

.hero-section-wrapper .bollywood-slider .content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(90, 71, 71, 0.5);
    z-index: 1; 
}


.hero-section-wrapper .bollywood-slider .info {
    position: relative;
    z-index: 2; 
    max-width: 780px;
    margin: 250px auto;   
    text-align: center;
}




.hero-section-wrapper .bollywood-slider .info h2 {
    font-size: 130px;
    color: #ffffff;
}
 
.hero-section-wrapper .bollywood-slider .info h1 {
    font-size: 100px;
    color: #eb4848;
   
}

.hero-section-wrapper .bollywood-slider .info a {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 12px 24px;
    margin: 30px 0;
    background-color: rgba(36, 32, 32, 0.4);
    color: #ffffff;
    transition: all .6s ease-in-out;
    border: black;
   
}



 .hero-section-wrapper .bollywood-slider .info a:hover {
    background: #eb4848;
    width: 190px;
} 


.hero-section-wrapper .bollywood-slider.info a i {
    margin-left: 9px;
}

.hero-section-wrapper .bollywood-slider .info a:hover i {
    transform: translateX(10px);
    transition: all .6s ease-in-out;
}




.hero-section-wrapper .bollywoood-img img {
    height: 150px;
    width: 100%;
    padding-left: 10px;
    border-radius: 21px;
    
}

.hero-section-wrapper .bollywoood-img  {
    width: 50%;
    top: -200px;
    left: 900px;
   
    
}



.slick-arrow {
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    border: none;
    background-color: rgba(63, 59, 59, 0.4);
    color: #ffffff;
    border: 2px solid  white;
    border-radius: 50%;
    transition: .3s all ease-in-out;

}

.bollywoood-img  .slick-prev {
    left: -800px;
    top: 45%;

}

.bollywoood-img  .slick-next {
   left: -730px;
    top: 45%;

}
 

.bollywoood-img  .slick-dots {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 46px;
    left: -45%;

}

.bollywoood-img  .slick-dots li {
    display: inline;
}

.bollywoood-img   .slick-dots li button {
    width: 15px;
    height: 5px;
    border: none;
    margin: 0 10px;
    text-indent: -9999px;
    background: #ffffff;
    transition: all .6s;
}


.bollywoood-img   .slick-dots .slick-active button {
    background: #eb4848;
    width: 50px;

}












@media screen and (max-width: 991px) {
   

     .hero-section-wrapper .bollywood-slider .info {
        max-width: 780px;
        margin: 150px auto;
        text-align: center;
    }

    
    .hero-section-wrapper .bollywood-slider .content{
        height: 800px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover   !important;
       
    }
     
    .hero-section-wrapper .bollywood-slider .info h1 {
        font-size: 64px;
        margin: 30px 0px;
    }
    
      
    .hero-section-wrapper .bollywood-slider .info a {
        font-size: 28px;

    }
    
    .bollywoood-img  .slick-dots {
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 185px;
        left: 60%;
    
    }

    .hero-section-wrapper .bollywoood-img img {
        height: 150px;
        width: 100%;
        padding-left: 10px;
        border-radius: 21px;
    }
    
    .hero-section-wrapper .bollywoood-img  {
        width: 100%;
        top: 0px;
        left: 0px;
        
    }

    .bollywoood-img  .slick-prev {
        left: 70px;
        top: -70px;
    
    }
    
    .bollywoood-img  .slick-next {
       left: 150px;
        top: -70px;
    
    }
     


}




@media screen and (max-width: 767px) {
   

    .hero-section-wrapper .bollywood-slider .info {
       max-width: 780px;
       margin: 250px auto;
       text-align: center;
   }


   .hero-section-wrapper .bollywood-slider .info h2 {
    font-size: 64px;
    color: #ffffff;
    margin:  40px 0;
}
    
   .hero-section-wrapper .bollywood-slider .info h1 {
       font-size: 32px;
       margin: 0 30px;
   }
   
     
   .hero-section-wrapper .bollywood-slider .info a {
       font-size: 24px;
       margin:  40px 0;

   }
   
   .bollywoood-img  .slick-dots {
       text-align: center;
       margin: 0;
       padding: 0;
       position: absolute;
       bottom: 0px;
       left: 85px;
   
   }

   .hero-section-wrapper .bollywoood-img img {
       display: none;
   }
 

}

